# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ==============================
# VIRTUAL ENV
# ==============================
.venv/
venv/
env/

# ==============================
# OUTPUTS (keep folder, ignore contents)
# ==============================
output/*
!output/.gitkeep

# ==============================
# DATA (keep folder, ignore contents)
# ==============================
data/*
!data/.gitkeep
!data/test/.gitkeep


# ==============================
# LARGE / MEDIA FILES (LOCAL ONLY)
# ==============================
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg
*.gif


# ==============================
# IDE FILES
# ==============================
.idea/
.vscode/
*.iml

# ==============================
# SYSTEM FILES
# ==============================
.DS_Store
Thumbs.db
